#transcation-heading {
  border-bottom: 1px solid #cfcfcf;
  color: #4f4d4d;
}
label {
  display: block;
  margin: 6px 0;
}
input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
}
span {
  display: block;
}
#submit-btn {
  border: none;
  background-color: #343a40;
  color: white;
  border-radius: 4px;
}
